HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
# JetBrains IDE 설정 폴더 무시
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# 개인 설정 파일 무시
.idea/workspace.xml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/dictionaries/
.idea/shelf/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# macOS 관련 파일 무시
.DS_Store
.Trash/
.CFUserTextEncoding

# 개발 환경 관련 파일 무시
.idea/
.flutter/
.dart-tool/
.gradle/
.m2/
.npm/
.pub-cache/
.android/
.aws/
.docker/

# 로그 및 빌드 파일 무시
*.log
*.hprof
target/

# 환경 설정 파일 무시
.env